SERVER_NAME=Greenweb
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
RCON_PASSWORD=changeme_rcon
RCON_PORT=27015
DEFAULT_PORT=16261
UDP_PORT=16262
MAX_PLAYERS=8
RAM_INIT_MB=2048
RAM_MAX_MB=12288
PZSERVER_USER=pzserver
PZSERVER_HOME=/home/pzserver
ELITE_TAILSCALE_IP=100.x.x.x
MAILMAN_PUBLIC_IFACE=eth0
MAILMAN_TAILSCALE_IP=100.x.x.x
PZ_PUBLIC_IP=x.x.x.x
